/* region 検索条件 */
.condition-container {
    column-gap: 24px;
    display: flex;
}

/* endregion 検索条件 */

/* region テキストエリア系 */
.f-source {
    width: 100%;
}

.f-result {
    width: 100%;
}

.triangle-icon-line {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* endregion テキストエリア系 */