.navigation-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--md-sys-color-on-surface);
}

.navigation-link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 32px;
    transition-duration: 300ms;
    text-align: center;
    color: var(--md-sys-color-on-secondary-container);
    border-radius: 16px;
}

.navigation-link-label {
    font-size: var(--text-xs);
    width: 100%;
    transition-duration: 300ms;
    text-align: center;
}

.navigation-link:hover {
    .navigation-link-icon {
        font-weight: 700;
        background-color: var(--md-sys-color-secondary-container);
    }

    .navigation-link-label {
        font-weight: 700;
    }
}

.navigation-link.active {
    .navigation-link-icon {
        font-weight: bold;
        background-color: var(--md-sys-color-secondary-container);
    }

    .navigation-link-label {
        font-weight: 700;
    }
}