.ripple-effect-container, .ripple-effect {
    --effect-size: 64px;
}

.ripple-source {
    position: relative;
}

.ripple-effect-container {
    height: var(--effect-size);
    position: absolute;
    width: var(--effect-size);
    pointer-events: none;
}

.ripple-effect {
    border-radius: 50%;
    display: block;
    height: var(--effect-size);

    opacity: 0;
    pointer-events: none;
    position: absolute;
    transform: scale(0);
    width: var(--effect-size);
}

.ripple-effect.active {
    animation: ripple 0.75s ease-out;
    background: var(--theme-color-on-primary);
}

@keyframes ripple {
    from {
        opacity: 1;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}