/*@@todo サイズ*/
.primary-button {
    --height-medium: 40px;
    --min-width-medium: 120px;
    --side-margin-medium: 24px;

    --height-large: 80px;
    --min-width-large: 240px;
    --side-margin-large: 48px;
}

.primary-button {
    color: var(--theme-color-on-primary);
    background-color: var(--theme-color-primary);
    font-weight: 700;

    height: var(--height-medium);
    min-width: var(--min-width-medium);
    padding-left: var(--side-margin-medium);
    padding-right: var(--side-margin-medium);
}

.primary-button.large {
    height: var(--height-large);
    min-width: var(--min-width-large);
    padding-left: var(--side-margin-large);
    padding-right: var(--side-margin-large);
}