.pull-down-container {
    --pull-down-min-width: 120px;
}

.pull-down-container {
    position: relative;
}

.pull-down-container select {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    color: #333;
    display: block;
    font-size: 16px;
    height: 50px;
    line-height: 1.75;
    margin: 5px 0;
    max-width: 240px;
    min-width: var(--pull-down-min-width);
    padding: 0 24px;
    width: 100%;
    word-break: normal;
}